In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('fake_job_postings.csv')

In [3]:
df.head()

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,NaN,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,NaN,0,1,0,Other,Internship,NaN,NaN,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0

In [4]:
df.columns

Index(['job_id', 'title', 'location', 'department', 'salary_range',
       'company_profile', 'description', 'requirements', 'benefits',
       'telecommuting', 'has_company_logo', 'has_questions', 'employment_type',
       'required_experience', 'required_education', 'industry', 'function',
       'fraudulent'],
      dtype='object')

In [5]:
df.describe()

,job_id,telecommuting,has_company_logo,has_questions,fraudulent
count,17880.000000,17880.000000,17880.000000,17880.000000,17880.000000
mean,8940.500000,0.042897,0.795302,0.491723,0.048434
std,5161.655742,0.202631,0.403492,0.499945,0.214688
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,4470.750000,0.000000,1.000000,0.000000,0.000000
50%,8940.500000,0.000000,1.000000,0.000000,0.000000
75%,13410.250000,0.000000,1.000000,1.000000,0.000000
max,17880.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17880 entries, 0 to 17879
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_id               17880 non-null  int64
 1   title                17880 non-null  object
 2   location             17534 non-null  object
 3   department           6333 non-null   object
 4   salary_range         2868 non-null   object
 5   company_profile      14572 non-null  object
 6   description          17879 non-null  object
 7   requirements         15184 non-null  object
 8   benefits             10668 non-null  object
 9   telecommuting        17880 non-null  int64
 10  has_company_logo     17880 non-null  int64
 11  has_questions        17880 non-null  int64
 12  employment_type      14409 non-null  object
 13  required_experience  10830 non-null  object
 14  required_education   9775 non-null   object
 15  industry             12977 non-null  object
 16  function             11425 non-null  object
 17  fraudulent           17880 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.5+ MB

In [7]:
df.isnull().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2696
benefits                7212
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

# Filling Location

In [8]:
df['location'] = df['location'].fillna("")

# Filling Department

In [9]:
df['department'] = df['department'].fillna("")

# Filling Description

In [10]:
df['description'] = df['description'].fillna("")

# Filling Company Profile

In [11]:
df['company_profile'] = df['company_profile'].fillna("")

# Filling requirements

In [12]:
df['requirements'] = df['requirements'].fillna("")

# Filling Benefits

In [13]:
df['benefits'] = df['benefits'].fillna("")

# Filling Salary_range

In [14]:
df['salary_range'] = df['salary_range'].where(df['salary_range'].str.contains(r'^\d+-\d+$', na=False))

In [15]:
df[['min_salary','max_salary']] = df['salary_range'].str.split("-", expand=True)

In [16]:
df['min_salary'] = pd.to_numeric(df['min_salary'],errors='coerce') 
df['max_salary'] = pd.to_numeric(df['max_salary'], errors='coerce')

In [17]:
mean_min_salary = np.round(df['min_salary'].mean(), 0)
mean_max_salary = np.round(df['max_salary'].mean(), 0)

In [18]:
mean_salary_range = f"{int(mean_min_salary)}-{int(mean_max_salary)}"

In [19]:
df['salary_range'] = df['salary_range'].fillna(mean_salary_range)

In [20]:
df['salary_range']

0        515577-812572
1        515577-812572
2        515577-812572
3        515577-812572
4        515577-812572
             ...
17875    515577-812572
17876    515577-812572
17877    515577-812572
17878    515577-812572
17879    515577-812572
Name: salary_range, Length: 17880, dtype: object

In [21]:
df['salary_range'].dtype

dtype('O')

In [22]:
df['salary_range'].isnull().sum()

0

# Filling Employement_type

In [23]:
df['employment_type'].unique()

array(['Other', 'Full-time', nan, 'Part-time', 'Contract', 'Temporary'],
      dtype=object)

In [24]:
df['employment_type'] = df['employment_type'].fillna('Other')

In [25]:
df['employment_type'] = df['employment_type'].replace('Temporary','Other')

In [26]:
df['employment_type'].isnull().sum()

0

In [27]:
df['employment_type'].unique()

array(['Other', 'Full-time', 'Part-time', 'Contract'], dtype=object)

# Filling Industry

In [28]:
df['industry'] #before

0                              NaN
1        Marketing and Advertising
2                              NaN
3                Computer Software
4           Hospital & Health Care
                   ...
17875            Computer Software
17876                     Internet
17877                          NaN
17878               Graphic Design
17879            Computer Software
Name: industry, Length: 17880, dtype: object

In [29]:
df['industry'] = df['industry'].fillna('Other')

In [30]:
df['industry'] #after

0                            Other
1        Marketing and Advertising
2                            Other
3                Computer Software
4           Hospital & Health Care
                   ...
17875            Computer Software
17876                     Internet
17877                        Other
17878               Graphic Design
17879            Computer Software
Name: industry, Length: 17880, dtype: object

In [31]:
df['industry'].isnull().sum()

0

# Filling Function

In [32]:
df['function'].unique()

array(['Marketing', 'Customer Service', nan, 'Sales',
       'Health Care Provider', 'Management', 'Information Technology',
       'Other', 'Engineering', 'Administrative', 'Design', 'Production',
       'Education', 'Supply Chain', 'Business Development',
       'Product Management', 'Financial Analyst', 'Consulting',
       'Human Resources', 'Project Management', 'Manufacturing',
       'Public Relations', 'Strategy/Planning', 'Advertising', 'Finance',
       'General Business', 'Research', 'Accounting/Auditing',
       'Art/Creative', 'Quality Assurance', 'Data Analyst',
       'Business Analyst', 'Writing/Editing', 'Distribution', 'Science',
       'Training', 'Purchasing', 'Legal'], dtype=object)

In [33]:
df['function'] = df['function'].fillna('Other')

In [34]:
df['function'].isnull().sum()

0

# Filling required_education

In [35]:
df['required_education'].unique()

array([nan, "Bachelor's Degree", "Master's Degree",
       'High School or equivalent', 'Unspecified',
       'Some College Coursework Completed', 'Vocational', 'Certification',
       'Associate Degree', 'Professional', 'Doctorate',
       'Some High School Coursework', 'Vocational - Degree',
       'Vocational - HS Diploma'], dtype=object)

In [36]:
df['required_education'] = df['required_education'].fillna("Not Specified")

In [37]:
df['required_education'] = df['required_education'].replace("Unspecified","Not Specified")

In [38]:
df['required_education'].head()

0        Not Specified
1        Not Specified
2        Not Specified
3    Bachelor's Degree
4    Bachelor's Degree
Name: required_education, dtype: object

In [39]:
df['required_education'].unique()

array(['Not Specified', "Bachelor's Degree", "Master's Degree",
       'High School or equivalent', 'Some College Coursework Completed',
       'Vocational', 'Certification', 'Associate Degree', 'Professional',
       'Doctorate', 'Some High School Coursework', 'Vocational - Degree',
       'Vocational - HS Diploma'], dtype=object)

In [40]:
df['required_education'].isnull().sum()

0

# Filling required_experience

In [41]:
df['required_experience'].head(50)

0           Internship
1       Not Applicable
2                  NaN
3     Mid-Senior level
4     Mid-Senior level
5                  NaN
6     Mid-Senior level
7                  NaN
8            Associate
9          Entry level
10    Mid-Senior level
11                 NaN
12           Associate
13      Not Applicable
14           Associate
15           Executive
16    Mid-Senior level
17                 NaN
18                 NaN
19                 NaN
20                 NaN
21    Mid-Senior level
22    Mid-Senior level
23           Executive
24                 NaN
25                 NaN
26           Associate
27           Associate
28                 NaN
29         Entry level
30         Entry level
31           Associate
32         Entry level
33                 NaN
34                 NaN
35                 NaN
36                 NaN
37    Mid-Senior level
38    Mid-Senior level
39         Entry level
40                 NaN
41                 NaN
42         Entry level
43         Entry level
44         Entry level
45                 NaN
46         Entry level
47         Entry level
48                 NaN
49         Entry level
Name: required_experience, dtype: object

In [42]:
df['required_experience'].unique()

array(['Internship', 'Not Applicable', nan, 'Mid-Senior level',
       'Associate', 'Entry level', 'Executive', 'Director'], dtype=object)

In [43]:
df['required_experience'] = df['required_experience'].fillna("Not Specified")

In [44]:
df['required_experience'] = df['required_experience'].replace("Not Applicable","Not Specified")

In [45]:
df['required_experience'].isnull().sum()

0

# Filling Benefits

In [46]:
df['benefits'] = df['benefits'].fillna("Not Specified")

In [47]:
df['benefits'].head()

0
1    What you will get from usThrough being part of...
2
3    Our culture is anything but corporate—we have ...
4                                Full Benefits Offered
Name: benefits, dtype: object

# Filling requirements

In [48]:
df['requirements']

0        Experience with content management systems a m...
1        What we expect from you:Your key responsibilit...
2        Implement pre-commissioning and commissioning ...
3        EDUCATION: Bachelor’s or Master’s in GIS, busi...
4        QUALIFICATIONS:RN license in the State of Texa...
                               ...
17875    To ace this role you:Will eat comprehensive St...
17876    - B.A. or B.S. in Accounting- Desire to have f...
17877    At least 12 years professional experience.Abil...
17878    1. Must be fluent in the latest versions of Co...
17879    We want to hear from you if:You have an in-dep...
Name: requirements, Length: 17880, dtype: object

In [49]:
df['requirements'] = df['requirements'].fillna("Not Specified")

In [50]:
df['requirements'].isnull().sum()

0

In [51]:
df.drop("min_salary", axis=1, inplace=True)

In [52]:
df.drop("max_salary", axis=1, inplace=True)

In [53]:
df.isnull().sum()

job_id                 0
title                  0
location               0
department             0
salary_range           0
company_profile        0
description            0
requirements           0
benefits               0
telecommuting          0
has_company_logo       0
has_questions          0
employment_type        0
required_experience    0
required_education     0
industry               0
function               0
fraudulent             0
dtype: int64

# Export New Dataset

In [54]:
df.to_csv("New_fake_jobs_dataset.csv", index=False)